/* global */
*{
    margin: 0;
    padding: 0;
}


html{
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

h1 {
    color: black;
    font-weight: 400;
    font-size: 2.1rem;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    margin: 0 0 4rem;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #D8BFD8, #E6E6FA, #ffffe0, #FFFACD ) ;
    background-size: 400% 400% ;
    position: relative;
    animation: change 10s ease-in-out infinite;
    
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}
/*css reset*/
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
}
#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color: black;
    text-decoration: none;
    font-size: 21px;
}

section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}

#home{
    background-color: #f4faa8;
    background: linear-gradient(-45deg, #D8BFD8, #E6E6FA, #ffffe0, #FFFACD ) ;
    background-size: 400% 400% ;
    position: relative;
    animation: change 10s ease-in-out infinite;
}
#products{
    background-color: #b7f57e;
    background: linear-gradient(-45deg, #D8BFD8, #E6E6FA, #ffffe0, #FFFACD ) ;
    background-size: 400% 400% ;
    position: relative;
    animation: change 10s ease-in-out infinite;

}
#pricing{
    background-color: #9e6ddd;
    background: linear-gradient(-45deg, #D8BFD8, #E6E6FA, #ffffe0, #FFFACD ) ;
    background-size: 400% 400% ;
    position: relative;
    animation: change 10s ease-in-out infinite;

}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}
@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50% ;
    }
    100%{
        background-position: 0 50%;
    }
}

div{
    display: block;
}

.nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pageTitle{
    padding-left: 1rem;
    color: white;
}

a {
    text-decoration: none;
    padding: 1rem;
    color: rgb(252, 252, 252); 
    font-size: 1.38rem;
}

/* spacing */
.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2.25rem;
    padding-top: 2.25rem;
}

nav{
    background-color: rgba(29, 10, 59, 0.86);
    padding-top: 0.8rem;
    padding-bottom: 0.9rem;
}

/* main section */
.main{
    display: flex;
    flex-direction: column;
}
.main-image{
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center center;
    width: 100%;
    min-height: 50vh;
}
.main-text h1{
    font-weight: 500;
    text-align: center;
}
